<div class="content">
	<div class="container-fluid mt-2">
		<div class="row mb-4">
			<div class="col-md-3">
				<div class="card-counter primary">
					<fa-icon [icon]="['fas', 'poll']"></fa-icon>
					<span class="count-numbers">1534</span>
					<span class="count-name">Total de Encuestas</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card-counter danger">
                    <fa-icon [icon]="['fas', 'user-tie']"></fa-icon>
					<span class="count-numbers">Ingenieria, Medicina, Arte</span>
					<span class="count-name">Top 3 Carreras</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card-counter success">
                    <fa-icon [icon]="['fas', 'database']"></fa-icon>
					<span class="count-numbers">85%</span>
					<span class="count-name">% Encuestas Completadas</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card-counter info">
                    <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
					<span class="count-numbers">10</span>
					<span class="count-name">Nuevas Encuestas del Mes</span>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<canvas baseChart
								[data]="pieChartData"
								[labels]="pieChartLabels"
								[options]="pieChartOptions"
								[legend]="pieChartLegend"
								[chartType]="pieChartType">
						</canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<canvas baseChart
								[data]="polarAreaChartData.data"
								[labels]="polarAreaChartLabels"
								[options]="polarAreaChartOptions"
								[chartType]="polarAreaChartType">
						</canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<canvas baseChart
								[datasets]="barChartData"
								[labels]="barChartLabels"
								[options]="barChartOptions"
								[legend]="barChartLegend"
								[chartType]="barChartType">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
