.estado {
	display: inline-block;
	padding: 2px 8px; /* Ajusta el padding según tu preferencia */
	border-radius: 3px;
	color: white;
	font-size: 10px; /* Ajusta el tamaño de fuente si es necesario */
}

.activo {
	background-color: green;
}

.inactivo {
	background-color: red;
}


.progress-container {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
}

.progress-circle {
	width: 10px;
	height: 10px;
	display: flex;
	align-items: center;
	padding: 15px;
	justify-content: center;
	color: white;
	border-radius: 100%;
}

.progress-text {
	z-index: 1;
	color: white;
	font-size: 10px;
	text-align: center;
}

.complete .progress-circle {
	background-color: green !important;
}

